@model IEnumerable<CrudWithSecurity.marca>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Creator"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.marca1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.marca1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pais)
        </td>
        <td>
            @if (User.IsInRole("Updater"))
            {
                @Html.ActionLink("Edit", "Edit", new { id=item.id_marca })
            }
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Details", "Details", new { id=item.id_marca })
            }
            @if (User.IsInRole("Deleter"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.id_marca })
            }
        </td>
    </tr>
}

</table>
